@import '../abstract/variaveis';
.banner{
    align-items: center;
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    .inner-banner{
        background-color: $cor-terciaria;
        border-radius: 45px;
        opacity: 0.9;
        padding: 3rem;

        h1{
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
        }
        h2{
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
            
        }
    }
}