@import '../abstract/variaveis';

#cupom {
  background-color: $cor-terciaria;
  padding: 4rem;
  text-align: center;

  .texto {
    color: $cor-primaria;

    h2 {
      margin: 2rem;
      font-size: $tamanho-do-texto / 1.7;
    }
  }

  .inpunt {
    border: 4px solid white;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 575px;

    input {
      border: none;
      border-radius: 20px;
      font-size: 26px;
      height: 40px;
      outline: none;
      text-align: center;
      width: 540px;
    }

    &hover,
    &:focus-within {
      box-shadow: 1px 1px 8px 1px $cor-primaria;
    }
  }

  button {
    background-color: $cor-primaria;
    border: 2px $cor-primaria;
    border-radius: 40px;
    color: $cor-secundaria;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 1px;
    margin-top: .75rem;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
    
    &:hover {
      color: $cor-primaria;
      background-color: $cor-secundaria;
      border-color: $cor-terciaria;
    }

  }
}