@import '../abstract/variaveis';

@mixin bg-cores($cores...) {
  background: linear-gradient(to left, $cores);
}

footer {
  border-top: 2px solid $cor-primaria;
  font-size: $tamanho-do-texto / 2;
  margin-top: 1rem;
  padding: 1.2rem;
  text-align: center;

  @include bg-cores($cor-primaria, $cor-secundaria, $cor-terciaria, $cor-primaria);     
  i {
    color: red;
  }
}